<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fc185">  <td>19/02/09 00:04:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@4883b407]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>19/02/09 00:06:45</td>   <td>108781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.LoginRegressionSuite@4883b407]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>19/02/09 00:05:32</td>   <td>35561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyDataDrivenLogin()[pri:2, instance:com.mercury.test.LoginRegressionSuite@4883b407]">verifyDataDrivenLogin</td> 
  <td>main@701141022</td>   <td></td> </tr>
</table>
